
.success{
  color: green;

}

.danger{
  color: red;
}
.warning{
  color: orange;
}

.special{
  font-style: italic;
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}