<h2> My First Angular Application  </h2>

<!-- <app-employee></app-employee> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-event-binding3></app-event-binding3> -->
<!-- <app-if-directive></app-if-directive> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switch-directive></app-switch-directive> -->
<!-- <app-parent></app-parent> -->
<app-inbuild-pipe></app-inbuild-pipe>